body {
 background-image: url("bg.png");
}

#app {
  font-family: -apple-system, BlinkMacSystemFont;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

a {
  text-decoration: none;
  color: rgb(0, 122, 255);
}

button {
  background: rgb(0, 122, 255);
  border-radius: 2em;
  font: inherit;
  padding: 0.75em 2em;
  color: rgb(242, 242, 247);
  font-weight: bold;
  }
